.primeraSection{
    margin: 100px 0px 20px 0px;
    font-family: 'Ysabeau', sans-serif;
    font-size:x-large;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
}
.primeraSection h2{
    
    padding: 20px;
}

.servicio{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    color: #333;
}


/*GRID TARJETA servicios */
.normal{
    grid-template-areas:
    'titulo titulo titulo titulo titulo titulo titulo titulo'
    'img img img texto texto texto texto texto'
    'img img img texto texto texto texto texto'
    'img img img texto texto texto texto texto'
    'img img img texto texto texto texto texto'
    'img img img texto texto texto texto texto';
}

.invertido{
    grid-template-areas:
    'titulo titulo titulo titulo titulo titulo titulo titulo'
    'texto texto texto texto texto img img img'
    'texto texto texto texto texto img img img'
    'texto texto texto texto texto img img img'
    'texto texto texto texto texto img img img'
    'texto texto texto texto texto img img img';
}


.caja-servicio{
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 85vw;
    border-radius: 15px;
    box-shadow:
    inset   0 -3em 3em rgba(81, 81, 81, 0.1),
            0 0  0 2px rgb(255,255,255),
            0.3em 0.3em 1em rgba(0,0,0,0.3);
    display: grid;
    /* grid-template-areas:
        'titulo titulo titulo titulo titulo titulo titulo titulo'
        'img img img texto texto texto texto texto'
        'img img img texto texto texto texto texto'
        'img img img texto texto texto texto texto'
        'img img img texto texto texto texto texto'
        'img img img texto texto texto texto texto'; */

    grid-template-columns: repeat(8, 1fr);
    grid-template-rows:  45px repeat(5, 60px);
}

.caja-servicio > .caja-img{
    grid-area: img;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
}
.caja-servicio > .caja-titulo{
    grid-area: titulo;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja-servicio > .caja-texto{
    grid-area: texto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}

.caja-titulo h3{
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 3px;
    text-align:center;
    margin-top: 0px;
    color:#b8ab6d;
}
.caja-texto p {
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    margin-top: 5px;
}

.caja-texto h4 {
    font-family: 'Rubik', sans-serif;

    margin: 30px 5px 5px 5px;
}

.imagen{
    margin: 15px;
    max-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    object-fit: contain;
    border-radius: 15px;
}


.tarjetas-servicios{
    margin: 50px;
    text-align: center;
}

.tarjetas-servicios h3{
    font-family: 'Ysabeau', sans-serif;
    font-size:x-large;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contenedor{
    margin: 50px 15%;
    margin-bottom: 80px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1%;
    justify-content: center;    
    align-content: center;
}
.box{
    border-radius: 5px;
    width: 210px;
    height: 180px;
    margin: 20px 5vw;  
    background-color: #b8ab6d;
    padding: 10px;
    text-align: center;
    color:black;
    border: 0px solid black;
    font-family: 'Ysabeau', sans-serif;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box img {
    height: 40px;
}

.box h2{
line-height: 1em;
}



@media only screen and (max-width:1250px) {
    .caja-servicio{
        width: 90vw;
    }
}

@media only screen and (max-width:1100px) {
    .caja-servicio{
        width: 95vw;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 45px repeat(6, 60px);
    }
    .normal{
        grid-template-areas:
        'titulo titulo titulo titulo titulo titulo titulo titulo'
        'img img img img texto texto texto texto'
        'img img img img texto texto texto texto'
        'img img img img texto texto texto texto'
        'img img img img texto texto texto texto'
        'img img img img texto texto texto texto'
        'img img img img texto texto texto texto';
    }
    .invertido{
        grid-template-areas:
        'titulo titulo titulo titulo titulo titulo titulo titulo'
        'texto texto texto texto img img img img'
        'texto texto texto texto img img img img'
        'texto texto texto texto img img img img'
        'texto texto texto texto img img img img'
        'texto texto texto texto img img img img'
        'texto texto texto texto img img img img';
    }
}

@media only screen and (max-width:950px) {
    .primeraSection{
        margin: 80px 0px 20px 0px;
    }
    
    
    .primeraSection h2{
        font-size: medium;
    }

    .caja-titulo h3{
        font-size: larger;
    }

    .caja-servicio{
        grid-template-rows: 40px repeat(6, 55px);
    }

    .caja-texto p {
        font-size: 0.92rem;
    }

    .box{
        width: 170px;
        height: 150px;
        margin: 15px 3vw;  
        padding: 6px;
        }
    .box p{
        font-size: 0.9rem;
    }
    .box img {
        height: 35px;
    }
    .box h2{
        font-size: 1.3rem;
        }
}

@media only screen and (max-width:700px) {
    .caja-servicio{
    grid-template-columns: 1fr;
    grid-template-rows: 40px 60vw auto;
    }
    .normal, .invertido{
        grid-template-areas:
        'titulo'
        'img'
        'texto';
    }

    .contenedor{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media only screen and (max-width:450px) {
    .primeraSection h2{
        font-size: medium;
    }
    
    .caja-titulo h3{
        font-size: medium;
    }

    .caja-servicio{
        grid-template-rows: 40px 65vw auto;
    }

    .caja-texto p {
        font-size: 0.85rem;
    }
    .caja-texto h4 {
        font-size: 0.9rem;
        margin: 15px 5px 3px 5px;
    }
    .box{
        width: 150px;
        height: 130px;
        margin: 10px 2vw;  
        padding: 4px;
        }
    .box p{
        font-size: 0.85rem;
    }

    .box img {
        height: 30px;
    }
    .box h2{
        font-size: 1.25rem;
        }
}










@media screen and (max-width:350px){

    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

}